/* Подключаем Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Orbitron:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-accent font-black;
  }
}

:root {
  background: #000000;
}

::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgb(29, 29, 29); */
  /* background-color: rgb(0, 119, 255); */
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0) 30%, rgba(0,119,255,1) 43%, rgba(0,119,255,1) 49%, rgba(0,212,255,0) 63%);
  border-radius: 999px 999px 999px 999px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}



/* Flying Text At the Top of the Page */
.flying-text {
  animation: flyingText 55s linear infinite;
  white-space: nowrap;
  width: max-content;
}

@keyframes flyingText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
  
}




.shiny-border {
  position: relative;
  z-index: 1;
}

.shiny-border::before {
  content: "";
  position: absolute;
  inset: -3px;
  z-index: -1;
  border-radius: inherit;
  padding: 0;
  background: linear-gradient(45deg, #ec4899, #22d3ee, #ec4899, #22d3ee, #ec4899);
  background-size: 300% 300%;
  animation: shine 8s ease-in-out infinite alternate;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.swiper-slide img {
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  will-change: transform;
}



/* @keyframes slide {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-slide {
  animation: slide 5s linear infinite;
} */


